<head>
    <title>Dashboard | Zojibot</title>
</head>
<div class="container-fluid">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active" id="statustab"><a href="#">Status</a></li>
      <li role="presentation" id="commandtab"><a href="#">Commands</a></li>
      <li role="presentation" id="settingstab"><a href="#">Settings</a></li>
    </ul>
</div>
<div class="container-fluid" id="status">
    <div class="row">
        <div class="col-md-4">
            <h1>Status</h1>
            <p id="test"><%=session[:name]%>'s page</p>
            <button id="botbutton" onclick="toggleBot()" class="btn btn-default">Start bot</button><%#use #id.html jquery to change button text%>
        </div>
    </div>
</div>

<div class="container-fluid" id="commands">
    <div class="row">
        <h1>Commands</h1>
    </div>
    <div class="row"><!--TODO: If no commands, have none-->
        <table class="table table-striped">
            <tr>
                <th>Command</th>
                <th>Response</th>
                <th>User level</th>
            </tr>
            <%Command.where(username: session[:name]).each do |c|#batches/replace with js%>
                <tr>
                    <td><%=c.call%></td>
                    <td><%=c.response%></td>
                    <td><%=c.userlevel%></td>
                </tr>
            <%end%>
            <tr>
                <form>
                    <td><input type="text" id="addcall" class="form-control" placeholder="Command"></td>
                    <td><input type="text" id="addresponse" class="form-control" placeholder="Response"></td>
                    <td><label>Mod only?<input type="checkbox" id="addmodonly" class="form-control"></input></label></td>
                </tr>

        </table>
                    <button type="submit" class="btn btn-default">Add command</button>
                </form>
    </div>
    <div class="row" id="paging">
    </div>
</div>

<div class="container-fluid" id="settings">
    <div class="row">
        <h1>Settings</h1>
    </div>
</div>
<%puts "user token: #{session[:usertoken]}"%>
<%= javascript_tag do %>
  window.usertoken = '<%= j session[:usertoken] %>';
  window.username = '<%= j session[:name]%>';
<% end %>
<script type="text/javascript">
    load();
</script>
